<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CinemaTickets.Properties.Settings.CinemaConnectionString"
            connectionString="Data Source=DESKTOP-O019OFU\SQLEXPRESS;Initial Catalog=Cinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaTickets.Properties.Settings.ConnectionString1"
            connectionString="Data Source=DESKTOP-NEFTGHG\SQLEXPRESS;Initial Catalog=Cinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>